@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'JOSEFIN-BOLD';
	src: url('assets/font/JosefinSans-Bold.ttf');
}

@font-face {
	font-family: 'JOSEFIN-SEMIBOLD';
	src: url('assets/font/JosefinSans-SemiBold.ttf');
}

@font-face {
	font-family: 'JOSEFIN-REG';
	src: url('assets/font/JosefinSans-Regular.ttf');
}

@font-face {
	font-family: 'JETBRAINS-REG';
	src: url('assets/font/JetBrainsMono-Regular.ttf');
}

@layer utilities {
	/* scrollbar */
	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-track {
		@apply bg-secondary;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-gray rounded;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-yellow;
	}
	.text-big {
		@apply font-josefinbold text-5xl sm:text-7xl leading-tight text-white;
	}

	.text-header {
		@apply font-josefinbold text-4xl leading-normal text-secondary;
	}

	.text-subheader {
		@apply font-josefinsemibold text-3xl text-white;
	}

	.text-normal {
		@apply font-josefinregular text-xl leading-normal text-silver;
	}

	.text-mini {
		@apply font-josefinregular text-base leading-snug text-silver;
	}

	.text-normal-mono {
		@apply font-jetbrainsregular text-lg;
	}

	.text-mini-mono {
		@apply font-jetbrainsregular text-sm;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.btn {
		@apply border border-accent cursor-pointer flex justify-center py-4 px-6 rounded-lg gap-3 items-center;
		transition: 0.2s;
	}
	.btn.disable {
		@apply border-gray bg-secondary pointer-events-none;
	}
	.btn.disable > span {
		@apply text-gray;
	}
	.btn:hover {
		@apply bg-accenttint;
	}
	.btn > i {
		@apply text-2xl text-accent;
	}
	.btn > span {
		@apply text-normal-mono text-accent;
	}

	.link {
		@apply font-jetbrainsregular inline-flex gap-2 items-center text-accent;
		transition: 0.2s;
		font-size: inherit;
	}
	.link:hover {
		@apply text-accenttint;
	}

	li {
		@apply mb-4 relative ps-10;
	}

	li::before {
		@apply absolute w-5 h-2 bg-accent rounded left-0 top-2;
		content: '';
	}

	.fade {
		animation: fade 0.4s forwards;
	}

	.fadeout {
		animation: fadeout 0.4s forwards;
	}

	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fadeout {
		0% {
			opacity: 1;
		}
		80% {
			opacity: 0;
		}
		100% {
			@apply hidden;
		}
	}

	/* component : HEADER */
	.link-header {
		@apply text-normal text-silver;
		transition: 0.2s;
	}

	.link-header:hover,
	.link-header.on {
		@apply text-white;
		transform: translateY(-4px);
	}

	.link-header::after {
		@apply bg-accent  rounded w-0 absolute top-full translate-y-1/2 left-1/2 -translate-x-1/2 h-1;
		content: '';
		transition: 0.3s;
	}

	.link-header.on::after {
		@apply block w-6;
	}
}

